<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Historia Clínica</title>

</head>

<body>



  <%- include('header') %>


  <h1>Detalles del Paciente</h1>

  <p><strong>Nombre:</strong> <%= dato.nombre %></p>
  <p><strong>Apellido:</strong> <%= dato.apellido %></p>
  <p><strong>Fecha de Nacimiento:</strong> <%= new Date(dato.fechanacimiento).toLocaleDateString('es-ES') %></p>
  <p><strong>Documento:</strong> <%= dato.documento %></p>
  <p><strong>Domicilio:</strong> <%= dato.domicilio %></p>
  <p><strong>Núcleo Familiar:</strong> <%= dato.nucleofamiliar %></p>
  <p><strong>Teléfono:</strong> <%= dato.telefono %></p>
  <p><strong>Teléfono Alternativo:</strong> <%= dato.telefonoalternativo %></p>
  <p><strong>Antecedentes Familiares:</strong> <%= dato.antecedentesfamiliares %></p>
  <p><strong>Antecedentes Personales:</strong> <%= dato.antecedentespersonales %></p>
  <p><strong>Motivo de Consulta:</strong> <%= dato.motivoconsulta %></p>
  <p><strong>Obra Social:</strong> <%= dato.obrasocial %></p>
  

 <div class="buttonDetallePaciente"> 
       <a href="/pacientes/edit/<%= dato.id %>" style="text-decoration: none; color: white"> <button>Editar datos</button></a>
      <a href="/pacientes/hc/<%= dato.id %>" style="text-decoration: none; color: white"><button> Ver historia clínica</button></a>
    </div>

</body>




</html>