<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEX/ndn+qBsB9v9Fq4Gx0R4+unBIdx5PbLb4" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">

  <title>Editar datos de paciente</title>

</head>

<body>
  <%- include('header') %>
  <a href="/pacientes/">
    <button class="print">
      Volver
    </button>
  </a>

  <h1>Editar paciente</h1>

  <form action="/pacientes/edit/<%= dato.id %>" method="post" autocomplete="off" class="formNuevoPaciente">
    <input type="hidden" id="id" name="id" value="<%= dato.id %>" >
     
    <label for="nombre">Nombre y apellido:</label><br>
    <input type="text" id="nombreyapellido" name="nombreyapellido" value="<%= dato.nombreyapellido %>"><br><br>

    <label for="fechaNacimiento">Fecha de Nacimiento:</label><br>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" value="<%= new Date(dato.fechanacimiento).toISOString().split('T')[0] %>"><br><br>

    <label for="documento">Documento:</label><br>
    <input type="text" id="documento" name="documento" value="<%= dato.documento %>"><br><br>

    <label for="domicilio">Domicilio:</label><br>
    <input type="text" id="domicilio" name="domicilio" value="<%= dato.domicilio %>"><br><br>

    <label for="nucleoFamiliar">Núcleo Familiar:</label><br>
    <input type="text" id="nucleoFamiliar" name="nucleoFamiliar" value="<%= dato.nucleofamiliar %>"><br><br>

    <label for="telefono">Teléfono:</label><br>
    <input type="tel" id="telefono" name="telefono" value="<%= dato.telefono %>"><br><br>

    <label for="telefonoAlternativo">Teléfono Alternativo:</label><br>
    <input type="tel" id="telefonoAlternativo" name="telefonoAlternativo" value="<%= dato.telefonoalternativo %>"><br><br>

    <label for="antecedentesFamiliares">Antecedentes Familiares:</label><br>
    <textarea id="antecedentesFamiliares" name="antecedentesFamiliares"><%= dato.antecedentesfamiliares %></textarea><br><br>

    <label for="antecedentesPersonales">Antecedentes Personales:</label><br>
    <textarea id="antecedentesPersonales" name="antecedentesPersonales"><%= dato.antecedentespersonales %></textarea><br><br>

    <label for="motivoConsulta">Motivo de Consulta:</label><br>
    <textarea id="motivoConsulta" name="motivoConsulta"><%= dato.motivoconsulta %></textarea><br><br>

    <label for="obraSocial">Obra Social:</label><br>
    <input type="text" id="obraSocial" name="obraSocial" value="<%= dato.obrasocial %>"><br><br>

    <button class="last" type="submit">Guardar cambios</button>

  </form>
</body>

</html>
