<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">

  <title>Lista de Pacientes</title>
</head>
<body>
  <h1>Lista de Pacientes</h1>
    
  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <% resultados.forEach(paciente => { %>
        <tr>
          <td><%= paciente.nombre %></td>
          <td><%= paciente.apellido %></td>
          <td><%= paciente.fechaNacimiento %></td>
          <td><%= paciente.documento %></td>
          <td><%= paciente.domicilio %></td>
          <td><%= paciente.nucleoFamiliar %></td>
          <td><%= paciente.telefono %></td>
          <td><%= paciente.telefonoAlternativo %></td>
          <td><%= paciente.antecedentesPersonales %></td>
          <td><%= paciente.antecedentesFamiliares %></td>
          <td><%= paciente.motivoConsulta %></td>
          <td><%= paciente.obraSocial></td>        
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
