
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="/index.css">

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Nueva consulta</title>
</head>
<body>
  <%- include('header') %>

  <br>
  <br>  <h1>Lista de pacientes</h1>
    
  <br>
  <table class="tablaPacientes">
    <thead>
      <tr>
        <th>Nombre y apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/pacientes/detalle/1 "> 
        Juan Perez</a></td>
      
      </tr>
      <tr>
        <td>Marta Gomez</td>
      </tr>
      <tr>
        <td>Carlos Fernández</td>
      </tr>
    </tbody>
  </table>


  <% resultados.forEach(paciente => { %>
    <tr>
      <td><%= paciente.nombre %></td>
      <td><%= paciente.apellido %></td>
      <td><%= paciente.fechaNacimiento %></td>
      <td><%= paciente.documento %></td>
      <td><%= paciente.domicilio %></td>
      <td><%= paciente.nucleoFamiliar %></td>
      <td><%= paciente.telefono %></td>
      <td><%= paciente.telefonoAlternativo %></td>
      <td><%= paciente.antecedentesPersonales %></td>
      <td><%= paciente.antecedentesFamiliares %></td>
      <td><%= paciente.motivoConsulta %></td>
      <td><%= paciente.obraSocial></td>        
    </tr>
  <% }); %>

    <a href="nuevo-paciente">
      <button class="print">Añadir paciente</button>
    </a>




</body>

</html>
